<div class="search-card">
  <div class="search-left">
    <div class="search-dropoff-info">
      <h1 class="search-name">{{title}}</h1>
      <h2 class="search-address">{{address}}</h2>
      <h2 class="search-phone">{{phone}}</h2>
    </div>
    <div class="search-dropoff-options">
      <p>Drop off 
        {{#if isSupportDropOff}} <span class="valid-symbol">✓</span> {{else}} <span class="invalid-symbol">✗</span> {{/if}}
      </p>
      <p>Mail in 
        {{#if isSupportMailIn}} <span class="valid-symbol">✓</span> {{else}} <span class="invalid-symbol">✗</span> {{/if}}
      </p>
    </div>
  </div>
  <div class="search-right">
    <h2>Accepts</h2>
    <div class="search-categories-contianer">
      {{#each categories}}
        <p class="search-category">{{this}}</p>
      {{/each}}
    </div>
  </div>
</div>
